/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/* Mis estilos-------------------------------------------------->>>>>>>>>>>>> */

/* Centrar la navegación */
 #navjuan ul
{
    text-align: center!important;
} 
/* Hover al menu de navegación */
#navjuan ul li a:hover
{
    color: #2196F3;
}
/* Color de Fondo al enlace al hacer scroll en la página */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #2196F3;
}
/* Cambiar el color al dar click en un enlace en la navegación */
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #2196F3;
    background-color: transparent;
}
/* color de los enlaces de navegacion */
.navbar-default .navbar-nav>li>a {
    color: #2196F3;
}
/*Tamaños a mis proyectos n el portfolio  */
.size
{
    width: 100%;
}
/* Color de Fondo de mi navegación */
.navbar-default {
    background-color: #fff;
}
/* Color de los enlaces a blanco */
a,a:hover, a:focus, a:active, a.active {
    outline: 0;
    color: #000;
}
/* Imagen redondeada y ajustar tamaño */
div .sizeme
{
    border-radius: 50%;
    width: 15em;
    height: auto;
}
.divider
  {
    width: 80px;
    border-top: 5px solid #2196F3;
    margin: 1.3em  auto;

  }
  /* color a la sección de about para la mision y vision */

  #about p
  {
    color: #000;
  }
  /* tamaño de el logo de aspa */
   a #aspalogo
  {
    width: 5em;
  }

  /* Cambiar color del hover de las redes sociales */
  #contact #social-media ul li #face{color: #3b5998;border:transparent;}
  #contact #social-media ul li #gplus{color: #dd4b39;border:transparent;}
  #contact #social-media ul li #twit{ color: #00aced;border:transparent;}
  #contact #social-media ul li #link{ color: #007bb5;border:transparent;}
  #contact #social-media ul li #intg{ color: #125688;border:transparent;}
  #contact #social-media ul li #intg{ color: #125688;border:transparent;}
  .repos
  {
    padding: 1em;
    background-color: #273b47;
    color: #ffffff;

  }
  .repos:hover
  {
    text-decoration: none;
    color: #2196F3;
  }
  .repoGit
  {
    margin: 4em 0;
  }
/* cambiar del color del boton del reponsive */

.navbar-default .navbar-toggle .icon-bar {
    background-color: #2196F3;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
  /* Centrar Bien la Navegación */
  @media(min-width:768px) {

#navjuan ul
{
    margin-left: 11em;
}
}
  @media(min-width:1175px) {

#navjuan ul
{
    margin-left: 25em;
}
}
a:hover
{
    text-decoration: none;
}
.divider-about
  {
    width: 80px;
    border-top: 5px solid #2196F3;
    margin: 1.3em  auto;

  }
  #contact #social-media ul li a
{
     background-color:transparent; 
}
  #contact #social-media ul li #face:hover{color: #3b5998;
    border: 1px solid #000000;}
  #contact #social-media ul li #gplus:hover{color: #dd4b39;
    border: 1px solid #000000;}
  #contact #social-media ul li #twit:hover{ color: #00aced;
    border: 1px solid #000000;}
  #contact #social-media ul li #link:hover{ color: #007bb5;
    border: 1px solid #000000;}
  #contact #social-media ul li #intg:hover{ color: #125688;
    border: 1px solid #000000;}
    #contact li
    {
        list-style-type: none;
        font-size: 1.2em;
    }
    @media(max-width:230px) {
    .repoGit h4
    {
        font-size: 0.7em;
    }
}
    @media(max-width:400px) {
    .modal-body #padd
    {
      font-size: 1.6em;

    }
    .modal-body #paddeb
    {
      font-size: 1.6em;

    }
    .modal-body #paddcc
    {
      font-size: 1.6em;

    }
}
header .intro-text .name span {
        border: 5px solid red;
        color: red;

    }
/* ------------------------------------------------------- */
body {
    overflow-x: hidden;
    list-style-type: none;
    color: #000;
    background-color:#ECEFF1;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #2196F3;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    color: #ffffff;
    background:url('../img/back5.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 50em;

}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }
    .navbar-right {
   float: none !important;
   margin-left: 25em;
}
    header .intro-text .name {
        font-size: 4.75em;
        -webkit-text-fill-color: #fff;
        -webkit-text-stroke: 1px black;
    }
    header .intro-text .skills {
        font-size: 3em;
         -webkit-text-fill-color: #fff;
        -webkit-text-stroke: 1px black;
    }
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

/* Minimizar el height de la navegacion con el paddig(el padding
determina que tan grande es) */
.navbar-default,
.navbar-inverse {
    border: 0;
    margin: 0;
    padding: 0.8em;
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #2c3e50;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #2196F3;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
        border: solid 2px transparent;
    color: #fff;
    background: #2196F3;
    opacity: 0.69;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #2196F3;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #273b47;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #2196F3;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2196F3;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2196F3;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}